body {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    background: linear-gradient(to right, red, yellow);
    color: rgba(0, 0, 0, 0.5);
    font-family: sans-serif;
}

.body-darkmode {
    color: rgba(255, 255, 255, 1);
}

h1 {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5rem;
    /* color: rgba(0, 0, 0, 0.5); */
}

h3 {
    text-transform: none;
    text-align: center;
    /* color: rgba(0, 0, 0, 0.5); */
}